<!-- These 3 events are shown both on the front page and the events page. To make them synchronized, this template file
    has been made -->
<div class="col-md-4 animate-box">
    <!-- Event 1 -->
    <div class="event-entry">
        <div class="desc">
            <p class="meta"><span class="day">TBA</span><span class="month">TBA</span></p>
            <p class="organizer"><span>Organized by:</span> <span>TBA</span></p>
            <h2><a href="#">TBA</a></h2>
        </div>
        <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>TBA</p>
        </div>
    </div>
</div>
<div class="col-md-4 animate-box">
    <!-- Event 2 -->
    <div class="event-entry">
        <div class="desc">
            <p class="meta"><span class="day">TBA</span><span class="month">TBA</span></p>
            <p class="organizer"><span>Organized by:</span> <span>TBA</span></p>
            <h2><a href="#">TBA</a></h2>
        </div>
        <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>TBA</p>
        </div>
    </div>
</div>
<div class="col-md-4 animate-box">
    <!-- Event 3 -->
    <div class="event-entry">
        <div class="desc">
            <p class="meta"><span class="day">TBA</span><span class="month">TBA</span></p>
            <p class="organizer"><span>Organized by:</span> <span>TBA</span></p>
            <h2><a href="#">TBA</a></h2>
        </div>
        <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>TBA</p>
        </div>
    </div>
</div>